* {
    box-sizing: border-box;
}

.top-nav {
    background-color: #000;
}

.navbar {
    display: flex;
    font-size: 30px;
    padding: 5px 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.nav-toggle {
    color: #fff;
    cursor: pointer;
    margin-left: auto;
}

.nav-list-collapsed {
    display: none;
}