* {
	box-sizing: border-box;

}

.top-nav {
	background: none;
}

.navbar {
	display: flex;
	font-size: 30px;
	padding: 5px 20px;

}

.navbar a {
	color: black;
	text-decoration: none;
}

.nav-toggle {
	margin-left: auto;
	cursor: pointer;
}

.nav-list-collapsed {
	display: none;
}